<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liffey Valley Athletics Club</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/lvac.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <a href="/">
          <img src="images/logo.png" width="100" height="100" />
        </a>
      </div>
      <div class="links">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <p>LVAC</p>
    </div>

  </body>
</html>
